{% extends 'base.html' %}

{% block content %}


  
  </body>
  <div class="hero">
    <h1>CONSTELLATION</h1>
    <h2>STUDIO DANCE</h2>
  </div>

  <div class="container">
   
    <div class="row">
      <div class="col-12 col-md-6">
        
        
          <img src="/static/images/e31a26852f18b3ec8e4fba56ce343feb.gif" alt="" class="img-fluid">
      
      </div>
        
  
        
         <div class="container d-flex h-100">
         <div class="row align-self-center">
      
        <div class="col-12 col-md-6"style="height:300px"> 
          <p class="my-auto"> 
           
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias voluptatum voluptas, facere magnam
                similique magni aliquam commodi iusto numquam. Vero deserunt nobis labore illum qui laborum id.
                Molestias, exercitationem nesciunt.
              </p>
          </div>
         </div>
           </div>
            </div>
          
   
  </div>  
 </div>  

  
    
    
        
    


  <div class="container">
    <div class="row">

      <div class=" card col-12 col-md-4">
        <img src="/static/images/9LB6.gif" alt=""
          class="img-fluid">
        <div class="card-body">
          <h5 class="card-title">Choisis ton style!</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia unde accusantium
            nostrum soluta est distinctio, quasi velit eaque reprehenderit tempore quae quod expedita quibusdam
            corrupti, tenetur omnis optio harum dolorem.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Hip-Hop</li>
            <li class="list-group-item">Classique</li>
            <li class="list-group-item">et... ROBOTIQUE! </li>
          </ul>
          <div class="card-body">

            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class=" card col-12 col-md-4">
        <img src="/static/images/4906018.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Rejoins-nous!</h5>
          <p class="card-text">Avantages</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">1 mois payé= 1 mois offert</li>
            <li class="list-group-item">évenements interractifs!</li>
            <li class="list-group-item">Cree ton propre crew!</li>
          </ul>
          <div class="card-body">

            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>

      <div class=" card col-12 col-md-4">
        <img src="static/images/0ccdb4a5d9b7ec84c3fc9169596082a4.gif" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Les prix</h5>
          <p class="card-text">incroyables</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">1 euro/ mois</li>
            <li class="list-group-item"></li>
            <li class="list-group-item">EQUIPMENTS</li>
          </ul>
          <div class="card-body">

            <a href="#" class="card-link">LIEN ICI</a>

          </div>
        </div>
      </div>
    </div>
  </div>



 
{% endblock %}
</body>